nav.navigation 
  .navigation-wrapper
    a.navigation-wrapper__link(href="/")
      | Evergreen Forest 

      svg.navigation__link-icon 

    ul.navigation__list 
      li.navigation__list-item 
        a.navigation__list-link(href="/trees") Trees
      li.navigation__list-item 
        a.navigation__list-link(href="/about") About